@font-face {
	font-family: Quicksand;
	src: url(Quicksand/Quicksand-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight: 500;
	src: url(Roboto/Roboto-Medium.ttf);
}

a {
	text-decoration: none;
}

body {
	font-family: 'Quicksand';
	margin: 0;
	overflow: hidden;
}

iframe {
	border: none;
	display: block;
	width: 100%;
}

#lowbar {
	background: #000000;
	height: 25px;
	line-height: 25px;
}

#lowbar>span {
	display: block;
	font-size: 10px;
	margin: 0 10px 4px 10px;
}

#lowbar a {
	color: #ffffff;
}

#lowbar a:hover, #lowbar a:clicked {
	color: #167ac6;
}

.lowbar-text {
	font-size: 10px;
}

#search {
	background: #000000;
	color: #ffffff;
}

#searchForm {
	height: 25px;
}

#searchInput {
	background: #000000;
	border: 0;
	color: #ffffff;
	display: block;
	font-family: 'Roboto';
	font-size: 14px;
	margin: 0;
	outline: none;
	padding: 0 10px 0 10px;
	width: 100%;
}

::-webkit-input-placeholder {
	background: #000000;
}

#searchList {
	background: #ffffff;
	height: 200px;
	padding: 0 10px 0 10px;
	overflow-y: auto;
}

.searchResult {
	float: left;
	font-family: 'Roboto';
	margin: 10px 0 10px 0;
	width: 100%;
}

.searchResult img {
	float: left;
	margin-right: 10px;
}

.searchResultTitle {
	font-weight: 500;
	font-size: 14px;
}

.searchResultTitle>a {
	color: #000000;
}

.searchResultTitle>a:hover {
	color: #167ac6;
}

.searchResultChannel {
	color: #767676;
	font-size: 11px;
}

#splash {
	background: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 315px;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.float-right {
	/*float: right;*/
}